
<p>
  <a class="ware" href="#" title="">
   SCI论文
  </a>
</p>


<div style="font-size: 1em; text-indent: 14pt; text-align: left;">
  <b>
    3.2.1 Science 
  </b>
</div>
<p>
  <iframe src="/static/3.2.1-SCI.html" width="100%" height="600" frameborder="0">
    /your bower is poor! use Chrome!!
  </iframe>
</p>

<h3></h3>


<p>
摘要分为<a class="ware" href="#" title="Structured Abstract">结构式摘要</a>和<a class="ware" href="#" title="Non-Structured Abstract">非结构式摘要</a>。二者的功能相同，都遵循上述摘要的基本写作原则。不同之处在于写作形式，结构式摘要由Background，Methods，Results以及Conclusions等标题（通常为黑体字）分割成几个部分，一目了然；非结构式摘要则为一个整体，内容上也包括Background，Methods，Results以及Conclusions等几个基本部分，但各部分之间不用标题分割，在形式上更具整体性。不同SCI期刊对摘要的要求各异，都会在作者须知（Instructions to Authors）里详细说明。作者在投稿前应根据拟投杂志的写作要求对摘要加以修改，以符合杂志的要求。
</p>


span {
    position: relative;
}

span::before {
    content: '';
    position: absolute;
    bottom: -0.125em;
    width: 100%;
    height: 0.25em;
    background: linear-gradient(135deg, transparent, transparent 45%, #dc3912, transparent 55%, transparent 100%), linear-gradient(45deg, transparent, transparent 45%, #dc3912, transparent 55%, transparent 100%);
    background-size: 0.5em 0.5em;
    background-repeat: repeat-x, repeat-x;
}



