<div><button class="textHidden">显示材料原文</button>
<div><br />
<h3>材料原文</h3>
<div>(01:02-01:33)</div>
<p><strong>Lori Minasian: </strong>I was both honored and humbled to have a lectureship under my name. And&hellip; so I want it to start very clearly with a symbol if you will for the lecture&mdash;that&rsquo;s a compass. And the compass points to the true North which is our patients that are always at the head of how we think about designing various clinical studies and clinical trials, especially under the cancer prevention and control.</p>
</div>
<script>// <![CDATA[
$(document).ready(function(){
				$(".textHidden").next().hide();
				$(".textHidden").click(function(){
					if($(this).next().is(":hidden")){
						$(this).next().show();
					}
					else{
						$(this).next().hide();
					}
				});
			});
// ]]></script>
</div>