  <br />
  <b style="color:#000000;">Exercise 2</b><br/><br/>
  <p><i><span>Complete the following sentences in the e-mail, in which you need to extend thanks to Prof. Green for his kind offer and inform him that you will contact him after reading relevant papers.</span></i></p>

<br/>
  <pre><p>Dear Prof. Green,</p>
  <p>       Thank you for 1) ______________________. I need some time to read 2) ______________ to get to know your work well and try to work out how I can apply 3) ________________________ to lung cancer. I'll contact you 4) _______________.</p>
<p>Yours sincerely,</p>
<p>Xiaowei Zhang</p></pre>
<stringresponse answer="your e-mail and your kind offer" type="ci" >
  <textline size="40"/>
</stringresponse>
<stringresponse answer="your selected publications" type="ci" >
  <textline size="40"/>
</stringresponse>
<stringresponse answer="your expertise in GBM research" type="ci" >
  <textline size="40"/>
</stringresponse>
<stringresponse answer="after I go over the required papers" type="ci" >
  <textline size="40"/>
</stringresponse>
    